@charset "UTF-8";

body{
    background-color: rgb(79, 142, 236);
    font-size: 20px;

}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(24, 23, 23);


}

footer{
    color: white;
    text-align: center;
    border: 20px;


}
div#foto, img{
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 250px;
}
div#msg{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 10px;
}